*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,
body{
	height:100%;
}
body {
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background:#000;
  	color:#fff;
  	text-align:center;
}
header,
.left,
.right{
	position:absolute;
}
header{
	left:10px;
	top:10px;
	right:10px;
	height:150px;
	border:solid #fff 1px;
}
header h1{
	font-size:40px;
	height:60px;
	line-height:60px;
}
header p{
	margin-top:20px;
}
.left{
	left:10px;
	top:170px;
	bottom:10px;
	width:200px;
	border:solid #fff 1px;
}
.left ul{
	overflow:auto;
}
.left ul li{
	height: 30px;
	line-height: 30px;
	cursor:pointer;
	overflow:hidden;
	text-overflow: ellipsis;
}
.left ul li.selected{
	color: green;
}
.right{
	top: 170px;
	right: 10px;
	bottom: 10px;
	left:220px;
	border:solid #fff 1px;
}
#type{
	list-style:none;
	width:200px;
	height:22px;
	margin:0 auto;
	border:1px solid #fff;
	border-radius:8px;
	overflow:hidden;
}
#type li{
	display:inline-block;
	width:99px;
	height:20px;
	line-height:20px;
	float:left;
	cursor:pointer;
}
#type li.selected{
	background:#fff;
	color:#000;
}
