*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}
.notice{
	width: 294px;
	height: 98px;
	margin: 10px;
	border: 1px solid #eee;
	overflow: hidden;
}
.notice-tit{
	height: 27px;
	position: relative;
	background: #f00;
}
.notice-tit ul{
	position: absolute;
	width: 301px;
	left: -1px;
}
.notice-tit li{
	float: left;
	width: 58px;
	height: 27px;
	
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	background: #f7f7f7;
	border-left: 1px solid #eee;
}
.notice li a:link,.notice li a:visited{
	text-decoration: none;
	color: #000;
}
.notice li a:hover{
	color: #f90;
}
.notice-tit li.select{
	background: #fff;
	border-bottom: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	font-weight: bold;
}
.notice-con .mod{
	margin: 10px 10px 10px 19px;
}
.notice-con .mod ul li{
	float: left;
	width: 132px;
	height: 25px;
	text-align: center;
	overflow: hidden;
}